{% extends 'base.html' %}

{% block title %} Homepage {% endblock %}

{% block content %}

<h1>Pets</h1>


{% for pet in pets %}
  <div class="container">
    <div class="row">
      <a href="/{{ pet.id }}">{{ pet.name }}</a>
    </div>
    {% if pet.photo_url %}
    <div class="row">
      <img src="{{ pet.photo_url }}" alt="" width="150" height="150">
    </div>
    {% endif %}
    {% if pet.available %}
    <div class="row">
      <p><b>Available</b></p>
    </div>
    {% endif %}
  </div>
{% endfor %}

<a class="btn btn-primary" href="/add">Add Pet</a>

{% endblock %}